*{
    box-sizing: border-box;
}
h1{
    font-family: "Academy Engraved LET";
}

.delete{
    color: #b21f2d;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.edit{
    background: none;
    color: #e0a800;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

header{
    text-align: center;
    background-image: url("bgheader.jpeg");
    background-size: 100%;
}

/*main{*/
/*    background-image: url("bgmain.png");*/
/*    background-size: 100%;*/
/*}*/
